@media (max-width: 1100px) {
  .hero-large-text{
    font-size: 3rem;
  }
  .hero-caption-text{
    font-size: 1rem;
  }
  .hero-footer-card-caption{
    font-size: 0.65rem;
  }
  .hero-footer-card{
   width: 19%;
}
.hero-footer-icon-box{
    width: 35% !important;
    height: 4dvh !important;
    font-size: 1rem;
}
 .hero-caption-text-container{
    width: 75%;
 }
  .hero-feat-pill{
    font-size: 0.7rem;
  }
  .hero-feat-pill span:nth-child(2){
     font-size: 1rem;
  }
  .feat-pill-container{
    width: 120% !important;
  }
  .feat-pill-child-container-two{
    width: 100%;
}
}