.page {
    position: absolute; /* Required for the transition to work correctly */
    width: 100%;
  } 
  
  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }

  .table {
    transition: opacity 0.5s ease-in-out;
  }
  
  .table-row-enter {
    opacity: 0;   /* Initial state when entering */
  }
  
  .table-row-enter-active {
    opacity: 1;   /* Final state when entering */
  }
  
  .table-row-exit {
    opacity: 1;   /* Initial state when exiting */
  }
  
  .table-row-exit-active {
    opacity: 0;   /* Final state when exiting */
  }
 .rotate-90{
   transform: rotate(90deg);
 }