
:root{
    --primary-color:#0ea7e9;
    --primary-color-50:#f0f9ff;
    --primary-color-100: #e0f2fe;
    --primary-color-200: #bae7fd;
    --primary-color-300: #7dd4fc;
    --primary-color-400: #38bff8;
    --primary-color-dark: #083049;

    /* Accent color */
    --acent-color-one: #A0D3E8;
    --acent-color-one-darker: #142E3D;
    --acent-color-two: #FFCCB3;
    --acent-color-two-darker: #440706;
    --acent-color-three: #689CC8;
    --acent-color-three-darker: #182739;
    --acent-color-four: #9DBFDC;
    --acent-color-five: #fff;
    --acent-color-six: #FAFAFA;
    --acent-color-seven: #888;
    --acent-color-eight: transparent;
    --acent-color-nine: #BAE7FD;
    --acent-color-ten: #5CB85C;

    /* Topography */
    --primary-font-family:"Poppins, sans-serif";
    --font-size-base: 1rem; /* 16px */
    --scale-ratio: 1.25;
    --font-size-xs: calc(var(--font-size-base) / var(--scale-ratio) * 0.75); /* ~12px */
    --font-size-sm: calc(var(--font-size-base) / var(--scale-ratio)); /* ~16px */
    --font-size-md: var(--font-size-base); /* ~20px */
    --font-size-lg: calc(var(--font-size-base) * var(--scale-ratio)); /* ~25px */
    --font-size-xl: calc(var(--font-size-base) * var(--scale-ratio) * 1.5); /* ~30px */
    --font-size-2xl: calc(var(--font-size-base) * var(--scale-ratio) * 2); /* ~40px */

    /* widths */
    --width-10:10%;
    --width-20:20%;
    --width-30: 30%;
    --width-40: 40%;
    --width-50: 50%;
    --width-60: 60%;
    --width-70: 70%;
    --width-80: 80%;
    --width-90: 90%;
    --width-100: 100%;

    /* heights */
    --height-10: 10dvh;
    --height-20: 20dvh;
    --height-30: 30dvh;
    --height-40: 40dvh;
    --height-50: 50dvh;
    --height-60: 60dvh;
    --height-70: 70dvh;
    --height-80: 80dvh;
    --height-90: 90dvh;
    --height-100: 100dvh;

    /* break points */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

.color-primary{
    color: var(--primary-color);
}
.primary-background{
    background-color: var(--primary-color);
}
.color-primary-50{
    color: var(--primary-color-50);
}
.primary-background-50{
    background-color: var(--primary-color-50);
}
.color-primary-100{
    color: var(--primary-color-100);
}
.primary-background-100{
    background-color: var(--primary-color-100);
}
.color-primary-200{
    color: var(--primary-color-200);
}
.primary-background-200{
    background-color: var(--primary-color-200);
}
.color-primary-300{
    color: var(--primary-color-300);
}
.primary-background-300{
    background-color: var(--primary-color-300);
}
.color-primary-400{
    color: var(--primary-color-400);
}
.primary-background-400{
    background-color: var(--primary-color-400);
}
.primary-color-dark{
    color: var(--primary-color-dark);
}
.primary-background-dark{
    background-color: var(--primary-color-dark);
}
.search-btn-color{
    background-color: var(--acent-color-nine);
}


.light-skyblue-bg{
    background-color: var(--acent-color-one);
}
.light-skyblue-color{
    color: var(--acent-color-one);
}
.dark-slate-gray-color{
    color: var(--acent-color-one-darker);
}
.light-peach-bg{
    background-color: var(--acent-color-two);
}
.dark-red-color{
    color: var(--acent-color-two-darker);
}
.cornflower-blue-bg{
    background-color: var(--acent-color-three);
}
.cornflower-blue-color{
    color: var(--acent-color-three);
}
.charcoal-color{
    color: var(--acent-color-three-darker);
}
.charcoal-bg{
    background-color: var(--acent-color-three-darker);
}
.light-steel-blue-bg{
    background-color: var(--acent-color-four);
}
.light-sky-blue-color{
    color: var(--acent-color-four);
}
.white-bg{
    background-color: var(--acent-color-five);
}
.white-color{
    color: var(--acent-color-five);
}
.white-smoke-bg{
    background-color: var(--acent-color-six);
}
.white-smoke-color{
    color: var(--acent-color-six);
}
.gainsboro-bg{
    background-color: var(--acent-color-seven);
}
.gainsboro-color{
    color: var(--acent-color-seven);
}
.transparent-color{
    color: var(--acent-color-eight);
}
.transparent-bg{
    background-color: var(--acent-color-eight);
}
.green-bg{
    background-color: var(--acent-color-ten);
}


.font-size-xs{
    font-size: var(--font-size-xs);
}
.font-size-sm{
    font-size: var(--font-size-sm);
}
.font-size-md{
    font-size: var(--font-size-md);
}
.font-size-lg{
    font-size: var(--font-size-lg);
}
.font-size-xl{
    font-size: var(--font-size-xl);
}
.font-size-2xl{
    font-size: var(--font-size-2xl);
}


.height-10{
    height: var(--height-10);
}
.height-20{
    height: var(--height-20);
}
.height-30{
    height: var(--height-30);
}
.height-40{
    height: var(--height-40);
}
.height-50{
    height: var(--height-50);
}
.height-60{
    height: var(--height-60);
}
.height-70{
    height: var(--height-70);
}
.height-80{
    height: var(--height-80);
}
.height-90{
    height: var(--height-90);
}
.height-100{
    height: var(--height-100);
}

.rotate-90{
    transform: rotate(90deg);
}
.rotate-45{
    transform: rotate(45deg);
}
.rotate-180{
    transform: rotate(180deg);
}
.width-10{
  width: var(--width-10);
}
.width-20{
  width: var(--width-20);
}
.width-30{
  width: var(--width-30);
}
.width-40{
  width: var(--width-40);
}
.width-50{
  width: var(--width-50);
}
.width-60{
  width: var(--width-60);
}
.width-70{
  width: var(--width-70);
}
.width-80{
  width: var(--width-80);
}
.width-90{
  width: var(--width-90);
}
.width-100{
  width: var(--width-100);
}

.border-none{
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

.transition-four-sec{
    transition: all 0.4s;
}
.transition-3s{
    transition: all 0.3s;
}
